<div>
  <div class="title-container">
    <h2 nz-typography>Users</h2>
    <button nz-button [nzType]="'primary'" (click)="showModal()">create</button>
  </div>
  <nz-table #table [nzData]="userList">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Salary</th>
        <th>Country</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of table.data" (click)="view(user)">
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.salary}}</td>
        <td>{{user.country.cname}}</td>
        <td>
          <span (click)="delete(user); $event.stopPropagation()" nz-icon nzType="delete" nzTheme="outline"></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="User" (nzOnCancel)="handleCancel()" [nzFooter]="null">
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm(form.value)">
        <nz-form-item>
          <nz-form-control nzErrorTip="This is a required field">
            <nz-input-group>
              <input type="text" nz-input formControlName="name" placeholder="Name" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="This is a required field">
            <nz-input-group>
              <input type="text" nz-input formControlName="surname" placeholder="Surname" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="This is a required field">
            <nz-input-group>
              <input type="email" nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="This is a required field">
            <nz-input-group>
              <input type="text" nz-input formControlName="phone" placeholder="Phone" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="This is a required field">
            <nz-input-group>
              <input type="text" nz-input formControlName="salary" placeholder="Salary" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="This is a required field">
            <nz-select nz-input formControlName="cname" [nzPlaceHolder]="'Country'">
              <nz-option *ngFor="let country of countryList" [nzValue]="country.cname" [nzLabel]="country.cname">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <button nz-button [nzType]="'primary'" [nzLoading]="loading">Save</button>
      </form>
    </ng-container>
  </nz-modal>
</div>