<div>
  <div class="title-container">
    <h2 nz-typography>Disease Types</h2>
    <button nz-button [nzType]="'primary'" (click)="showModal()">create</button>
  </div>
  <nz-table #table [nzData]="diseaseTypeList">
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let diseaseType of table.data" (click)="view(diseaseType)">
        <td>{{diseaseType.id}}</td>
        <td>{{diseaseType.description}}</td>
        <td>
          <span (click)="delete(diseaseType); $event.stopPropagation()" nz-icon nzType="delete"
            nzTheme="outline"></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Disease Type" (nzOnCancel)="handleCancel()" [nzFooter]="null">
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm(form.value)">
        <nz-form-item *ngIf="isEditing">
          <nz-form-control nzErrorTip="This is a required field">
            <nz-input-group>
              <input type="text" nz-input formControlName="id" [readonly]="isEditing" placeholder="Id" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="This is a required field">
            <nz-input-group>
              <input type="text" nz-input formControlName="description" placeholder="Description" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button [nzType]="'primary'" [nzLoading]="loading">Save</button>
      </form>
    </ng-container>
  </nz-modal>
</div>
